name: Docker

on:
  push:
    branches: [main, devel]
    tags:
      - "v*"
  pull_request:
    branches: [main, devel]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out code"
        uses: actions/checkout@v4

      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3

      - name: "Build Docker image"
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: cariddi:latest

      - name: "Test Docker image"
        run: |
          echo "https://edoardottt.com/" | docker run --rm -i cariddi:latest -intensive
          docker run --rm cariddi:latest --help
