name: Go

on:
  push:
    branches: [ main,devel ]
  pull_request:
    branches: [ main,devel ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Race
      run: go build -race ./...